<div class="jetbrains-jetpass-header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"><img title="JetPass Logo"
                                           src="images/logo.png"/>JetPass</a>

            <div class="jetbrains-jetpass-user-info navbar-form pull-right">
                <button id="user_info" type="submit" class="btn" disabled>Loading...</button>
            </div>
        </div>
    </div>
</div>

<div class="jetbrains-jetpass-content container-fluid">
    <div class="row-fluid">
        <div id="navbar" class="jetbrains-jetpass-navbar span3">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="active">Users</li>
                    <li><a href="#">Groups</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Auth Modules</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Spaces</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </div>
        </div>
        <div id="main" class="jetbrains-jetpass-main span9">
            {{outlet}}
        </div>
    </div>

</div>

<div id="footer" class="jetbrains-jetpass-footer">
    <footer>
        <p>&copy; JetBrains GmbH</p>
    </footer>
</div>

<!-- build:js scripts/main.js -->
<script data-main="scripts/main" src="components/requirejs/require.js"></script>
<!-- endbuild -->