<div class="hero-unit">
    <h1>Users -> {{user.name}}</h1>
</div>

<div id="content_holder">
    <div id="user-profile" class="row-fluid">
        <div class="span4"><img ng-src="{{user.avatar.pictureUrl}}" width="32" height="32"/>

            <input class="visibleName" ng-model="user.name" ng-change="update()">
        </div>
        <div class="span4">contacts:
            <ul>
                <li ng-repeat="contact in user.contacts">{{contact.email}}</li>
            </ul>
        </div>
    </div>

    <a href="javascript:void(0)" onclick="history.back()">&lt;- Back</a>
</div>