<div class="hero-unit">
    <h1>Users</h1>
</div>

<div id="content_holder">
    <table id="users_list" class="table table-striped">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Visible Name</th>
            <th>Contacts</th>
            <th>Groups</th>
        </tr>
        </thead>
        <tbody class=".users">
        <tr ng-repeat="user in page.users">
            <td>
                <img ng-src="{{user.avatar.pictureUrl}}" class="img-rounded" width="32" height="32">
            </td>
            <td>
                <a href="#/users/{{user.id}}">{{user.name}}</a>
            </td>
            <td>
                <ul>
                    <li ng-repeat="contact in user.contacts">{{contact.email}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="group in user.groups">{{contact.group}}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>