<div class="hero-unit">
    <h1>Users</h1>
</div>

<div id="content_holder">
    <table id="users_list" class="table table-striped">
        <thead>
        <tr>
            <th>Avatar</th>
            <th>Visible Name</th>
            <th>Contacts</th>
            <th>Groups</th>
        </tr>
        </thead>
        <tbody class=".users">
            <tr ng-repeat="user in users">
                <td>{{i}}
                </td>
                <td>
                    username of {{i}}
                </td>
                <td>contacts of {{i}}</td>
                <td>groups of {{i}}</td>
            </tr>
        </tbody>
    </table>
</div>